.container{
    /* background-color: rgb(153, 186, 247); */
    /* border: 1px solid black; */

}
.container div div{
   /* background-color: cornflowerblue; */
   background-color:rgb(163, 174, 236);
border: 1px solid black;
}
div div{
        /* border: 1px solid black; */
    background-color: rgb(153, 186, 247);
    padding: 30px;
    margin: 1px;
}
